<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>

      <h1 class="text-center">Denuncia</h1>
      <%= link_to 'Otra deuncia', new_denuncium_path, class:'btn btn-success' %>
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>ruta</th>
            <th>Nombre</th>
            <th>Dni</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Comentario</th>
            <th>Fecha</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @denuncia.each do |denuncium| %>
            <tr>
              <td><%= denuncium.id_ruta %></td>
              <td><%= denuncium.nombre %></td>
              <td><%= denuncium.dni %></td>
              <td><%= denuncium.email %></td>
              <td><%= denuncium.telefono %></td>
              <td><%= denuncium.comentario %></td>
              <td><%= denuncium.fecha %></td>
              <td><%= link_to 'Ver', denuncium, class:'btn btn-primary btn-sm' %></td>
              <td><%= link_to 'Editar', edit_denuncium_path(denuncium), class:'btn btn-info btn-sm' %></td>
              <td><%= link_to 'Eliminar', denuncium, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
    </div>
  </div>
</div> 

